<header class='height_row' id='header'>
<div class='container'>
<div class='pull-left1' id='logo'>
<div class='row'>
<div class='col-lg-2'>
</div>
<div class='col-lg-6 right_align'>
            Small businesses succeed when meetings turn into connections.
          </div>
<div class='col-lg-2'>
<button class='btn-cis'>
              Get Started Today
            </button>
</div>
</div>
</div>
</div>
</header>
<section id='intro'>
<div class='intro-content'>
<h2>Work smarter with Webex</h2>
<h3>Get to know each other better with Cisco Webex.</h3>
<div>
<a class='btn-get-started scrollto video_btn' href='#about'>Watch Video</a>
<a class='btn-projects scrollto' href='#portfolio'>Explore Now</a>
</div>
</div>
<div class='owl-carousel' id='intro-carousel'>
<img class='item' id='ilbiwx'>
</div>
</section>
<section class='container_color'>
<div class='container'>
<div class='row txt_color'>
<div class='col-lg-2'>
<i class='fa fa-file-text-o' aria-hidden='true'></i>
<p>Design Guides</p>
</div>
<div class='col-lg-2'>
<i class='fa fa-hand-o-right' aria-hidden='true'></i>
<p>Learning</p>
</div>
<div class='col-lg-2'>
<i class='fa fa-spinner' aria-hidden='true'></i>
<p>Career Certifications</p>
</div>
<div class='col-lg-2'>
<i class='fa fa-arrow-circle-down' aria-hidden='true'></i>
<p>Software Downloads</p>
</div>
<div class='col-lg-2'>
<i class='fa fa-users' aria-hidden='true'></i>
<p>Support Community</p>
</div>
<div class='col-lg-2'>
<i class='fa fa-comment-o' aria-hidden='true'></i>
<p>Tech Support Cases</p>
</div>
</div>
</div>
</section>
<section>
<div class='row'>
<div class='align_now'>
<h1>Now at Cisco</h1>
<p>Check the innovations, events and activities happening across the globe this week. </p>
</div>
</div>
</section>
<section class='wow fadeInUp' id='about'>
<div class='container'>
<div class='row'>
<div class='col-lg-6 div_color'>
<p class='eyebrow-text'>WEBEX MEETINGS</p>
<div class='inner-content top_pad'>
<h3 id='idoz8h'>Explore the all new Webex Meetings</h3>
<p id='iq93r5'>Experience how the world #1 meeting
              solution just got smarter.</p>
</div>
</div>
<div class='col-lg-6 content'>
<img class='video_img' src='assets/img/ciscoImage.jpg' alt=''>
</div>
</div>
</div>
</section>
<section class='wow fadeInUp' id='about'>
<div class='container'>
<div class='row'>
<div class='container1 col-lg-8'>
<img class='image video_img' src='assets/img/ciscoLock.jpg' alt='Avatar'>
<div class='overlay'>
</div>
</div>
<div class='col-lg-4 content'>
<img class='video_img1' src='assets/img/cisco4.jpg' alt=''>
<span class='gradient'>
</span>
</div>
</div>
</div>
</section>
<section class='wow fadeInUp' id='about'>
<div class='container'>
<div class='row'>
<div class='col-lg-4 content'>
<img class='video_img' src='assets/img/cisco1.jpg' alt='test'>
<span class='gradient'>
</span>
</div>
<div class='col-lg-4 content'>
<img class='video_img' src='assets/img/cisco2.jpg' alt=''>
<span class='gradient'>
</span>
</div>
<div class='col-lg-4 content'>
<img class='video_img' src='assets/img/cisco3.jpg' alt=''>
<span class='gradient'>
</span>
</div>
</div>
</div>
</section>